body {
    margin: 0;
    
}

.container {
display: flex;

}
.box {
    margin: 10px;
    background-color: black;
    height: 80px;
    width: 380px;  
}
.box1 {
    background-color: black;
    height: 230px;
    width: 100px;
    border: 10px solid white;

}
.box2 {
    background-color: black;
    height: 230px;
    width: 260px;
    border: 10px solid white;

}

.boxl {
    margin: 10px;
    background-color: black;
    height: 80px;
    width: 380px;  
}

